body {
  background-color: #fff;
} 

h3 {
  font-family: 'Sacramento', cursive;
  font-size:50px;
}/*font-family and font-size was used with Google Fonts*/
#Header a:hover
{
  color: aquamarine;
}
#Header a:active
{
 background-color: pink;
} /*if the link is active, it will show in pink*/

#Header a {
  columns: 8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}
#bg-img {
background-image: url('../image/back.jpg');
background-size: 100%;
background-repeat: no-repeat;
min-height: 800px;
}/*back-ground image min-height is 800 px*/
/*margin top was set up as -130px so the container with about me information can be shown on the background picture*/
#about
{
  margin-top: -130px;
}


#about .fa
{
  color:#FFF

}

#about span
{
  padding:10px 10px 10px 10px 10px;
}

#about hr
{
  border-width: 4px;
  margin-top: 10px;
}

#contact
{
  margin-top: 50px;
}

#projects 
{
 margin-top: 200px;

}
.wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

#footer {
  background-color: #101010;
  color: honeydew;
  height: 100px;
  text-align: center;
  clear: both;
  border-top: 2px dotted honeydew;
}
/*this id was set up to make all the picture on portfolio the same size*/
#myportfolio
{
  height: 350px;
  width: 500px;
}
/*If the browser window is 768px or smaller, the background color will be pink*/
@media screen and (max-width: 768px) {
  body {
    background-color: pink;
  }
  .wrapper {
    width: 600px;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
} /*If the browser window is 600px or smaller, the background color will be lightblue*/